:root {
    --mute-button-size: 50px;
}

html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.loading-text {
    position: absolute;
    font-size: 4rem;
    font-weight: bold;
    color: white;

    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.box {
    position: absolute;
    user-select: none;

    margin: 20px;
    padding: 0.25em 0.5em;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    border-radius: 2px;
}

.debug-box {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5em;
}

.timer-box {
    font-size: 2.33rem;
    bottom: 30px;
    left: 50%;
    translate: -50%;
}

.mute-box {
    bottom: 0;
    right: 0;

    border-radius: 10px;
    margin: 50px;
}

.mute-box .mute-button {
    box-sizing: border-box;
    
    height: var(--mute-button-size);
    padding: 0 calc(var(--mute-button-size) / 10);
    margin-block: calc(var(--mute-button-size) / 6);
    margin-inline: calc(var(--mute-button-size) / 3);

    border-top: calc(var(--mute-button-size) / 3) solid transparent;
    border-bottom: calc(var(--mute-button-size) / 3) solid transparent;
    border-right: calc(var(--mute-button-size) / 3) solid white;
}

.mute-box .mute-button::before {
    display: block;
    content: '';
    width: calc(var(--mute-button-size) / 10);
    height: 100%;
    background-color: white;
}

.cross {
    position: absolute;
    top: 50%;
    left: 50%;

    width: calc(var(--mute-button-size) / 10);
    height: calc(1.414 * var(--mute-button-size));

    background-color: white;
    border-radius: 3px;

    translate: -50% -50%;
    rotate: 45deg;
}

.game-over-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.game-over-box {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1em;
    border-radius: 5px;
}

.game-over-box header {
    text-align: center;
    font-size: 4rem;
    border-bottom: 1px solid white;
}

.stats-box {
    font-size: 2rem;
    padding-block: 0.33em;
    display: grid;
    gap: 0.1em 1em;
    grid-template-columns: auto auto;
}

.restart-button {
    display: block;
    margin: auto;
    padding: 0.33em 0.5em;

    font-size: 1.33rem;
    font-weight: bold;

    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    border: none;
    border-radius: 2px;

    pointer-events: all;
}

.restart-button:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.hidden {
    display: none;
}
